@import '../../variables.scss';

.section {
  background-color: $color-blue;
  margin-top: 20rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  // @media only screen and (min-width: 2100px) {
  //   margin-top: 90rem;
  // }

  // @media only screen and (max-width: 1200px) {
  //   margin-top: 50rem;
  // }

  // @media only screen and (max-width: 850px) {
  //   margin-top: 60rem;
  // }

  // @media only screen and (max-width: 800px) {
  //   margin-top: 50rem;
  // }

  // @media only screen and (max-width: 400px) {
  //   margin-top: 40rem;
  // }

  @media only screen and (max-width: 800px) {
    margin-top: 10rem;
  }
}

.titleContainer {
  background-color: rgba($color-blue-dark, 0.4);
  border-radius: 50%;
  width: 30vw;
  height: 30vw;

  padding: 5rem;
  box-shadow: 0 1rem 2rem rgba($color-blue-dark, 0.8);

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  z-index: 0;

  @media only screen and (max-width: 800px) {
    width: 50vw;
    height: 50vw;
  }
}

.title {
  font-size: 5vw;
  font-weight: 500;

  @media only screen and (max-width: 800px) {
    font-size: 10vw;
  }
}

.projectsContainer {
  margin-top: 20rem;
  width: 75vw;

  display: flex;
  flex-direction: column;

  & > div:not(:last-child) {
    margin-bottom: 30rem;

    @media only screen and (max-width: 800px) {
      margin-bottom: 10rem;
    }
  }

  & > div:nth-child(even) {
    flex-direction: row-reverse;

    & > .projectDescriptionContainer {
      align-items: flex-start;

      & > .projectDescription {
        text-align: start;
      }

      & .projectLink {
        flex-direction: row-reverse;

        & > button {
          margin-right: 0;
          margin-left: 1.4rem;

          @media only screen and (max-width: 800px) {
            margin-left: 3rem;
          }
        }
      }
    }
  }

  & > div > .projectVisual::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 50%;
    height: 100%;
    background: rgba($color-blue-dark, 0.4);
    box-shadow: 0 1rem 2rem rgba($color-blue-dark, 0.8);
  }

  & > div:nth-child(odd) > .projectVisual::before {
    -webkit-filter: drop-shadow(-6rem -2rem rgba($color-blue-dark, 0.8)) !important;
    -moz-filter: drop-shadow(-6rem -2rem rgba($color-blue-dark, 0.8)) !important;
    -ms-filter: drop-shadow(-6rem -2rem rgba($color-blue-dark, 0.8)) !important;
    -o-filter: drop-shadow(-6rem -2rem rgba($color-blue-dark, 0.8)) !important;
    filter: drop-shadow(-6rem -2rem rgba($color-blue-dark, 0.8)) !important;
  }

  & > div:nth-child(even) > .projectVisual::before {
    -webkit-filter: drop-shadow(6rem -2rem rgba($color-blue-dark, 0.8)) !important;
    -moz-filter: drop-shadow(6rem -2rem rgba($color-blue-dark, 0.8)) !important;
    -ms-filter: drop-shadow(6rem -2rem rgba($color-blue-dark, 0.8)) !important;
    -o-filter: drop-shadow(6rem -2rem rgba($color-blue-dark, 0.8)) !important;
    filter: drop-shadow(6rem -2rem rgba($color-blue-dark, 0.8)) !important;
  }

  @media only screen and (max-width: 800px) {
    width: 100%;
    margin-top: 30rem;
  }
}

.project {
  display: flex;
  align-items: center;
  justify-content: space-around;

  position: relative;
  z-index: 0;

  @media only screen and (max-width: 800px) {
    flex-direction: column !important;
  }
}

.projectVisual {
  height: 30vw;
  width: 30vw;
  position: relative;

  background-color: rgba($color-blue-dark, 0.4);
  box-shadow: 0 1rem 2rem rgba($color-blue-dark, 0.8);
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  @media only screen and (max-width: 800px) {
    height: 80rem;
    width: 80rem;
  }
}

.projectImg {
  height: 18vw;
  margin-top: 6rem;
  position: relative;

  @media only screen and (max-width: 800px) {
    height: 50rem !important;
  }
}

.projectDescriptionContainer {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  width: 32vw;

  @media only screen and (max-width: 800px) {
    width: 100%;
    padding: 10rem 10rem !important;
  }
}

.projectTitle {
  font-size: 4vw;

  @media only screen and (max-width: 800px) {
    font-size: 7vw;
  }
}

.projectDescription {
  margin-top: 2rem;
  text-align: right;
  color: #7c8898;
  font-size: 2rem;
  line-height: 3.5rem;

  @media only screen and (max-width: 800px) {
    font-size: 3.5rem;
    line-height: 5rem;
    margin-top: 4rem;
  }
}

.projectLinksContainer {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;

  @media only screen and (max-width: 800px) {
    margin-top: 5rem;
  }

  & > div:not(:last-child) {
    margin-bottom: 1rem;

    @media only screen and (max-width: 800px) {
      margin-bottom: 3rem;
    }
  }
}

.projectLink {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.projectLinkText {
  margin-right: 1.4rem;

  font-size: 2rem;
  color: $color-pink;
  border-bottom: 1px solid $color-pink;
  cursor: pointer;

  background-color: transparent;

  @media only screen and (max-width: 800px) {
    margin-right: 3rem;
    font-size: 4rem;
  }
}

.projectLinkIcon {
  height: 2rem;

  @media only screen and (max-width: 800px) {
    height: 4rem;
  }
}

.projectsFooter {
  display: flex;
  align-items: center;

  margin-top: 15rem;
  width: max-content;

  & > button {
    background-color: transparent;
    color: white;
  }

  font-size: 4vw;

  cursor: pointer;

  @media only screen and (max-width: 800px) {
    font-size: 6vw;
  }
}

.footerGitHub {
  height: 3vw;
  margin-left: 2rem;

  @media only screen and (max-width: 800px) {
    height: 5vw;
  }
}

.sphere {
  position: absolute;
  height: 18vw;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: -1;

  @media only screen and (max-width: 800px) {
    display: none !important;
  }
}

.sphereContainer {
  margin-top: 28rem;

  @media only screen and (max-width: 800px) {
    display: none;
  }
}

.sphereWithContainer {
  margin-top: 20rem;

  @media only screen and (max-width: 800px) {
    display: none;
  }
}

.wavyLines {
  margin-top: 10rem;
  display: none;

  @media only screen and (max-width: 800px) {
    display: inherit;
  }
}

.skills {
  margin-top: 2rem;
  display: flex;

  & > img:not(:last-child) {
    margin-right: 2rem;
  }

  @media only screen and (max-width: 800px) {
    margin-top: 4rem;
  }
}

.skill {
  height: 2.5rem;

  @media only screen and (max-width: 800px) {
    height: 3.5rem;
  }
}
