@import '../../variables.scss';

.section {
  background-color: $color-blue;
  position: relative;
}

.titleContainer {
  position: relative;
  height: 100vh;
}

.title {
  font-size: 7vw;
  font-weight: 600;
  position: absolute;
  left: 50%;
  width: 100%;
  height: 100%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.triangleBg {
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);

  width: 0;
  height: 0;
  border-left: 30vw solid transparent;
  border-right: 30vw solid transparent;
  border-bottom: 45vw solid rgba(17, 27, 32, 0.4);

  @media only screen and (max-width: 800px) {
    border-left: 45vw solid transparent;
    border-right: 45vw solid transparent;
    border-bottom: 67.5vw solid rgba(17, 27, 32, 0.4);
  }
}

.downArrow {
  position: absolute;
  bottom: 5%;
  height: 8rem;

  animation: bounce 2s infinite;
  left: 50%;
  transform: translateX(-50%);
}

.introContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20rem;
}

.intro {
  background-color: rgba($color-blue-dark, 0.4);
  width: 60vw;
  box-shadow: 0 1rem 2rem rgba($color-blue-dark, 0.8);
  position: relative;

  padding: 8rem 10rem;
  padding-bottom: 6rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  @media only screen and (max-width: 800px) {
    width: 95vw;
  }

  @media only screen and (min-width: 2100px) {
    padding: 12rem 14rem;
  }
}

.introTitle {
  text-align: center;
  font-size: 5vw;
  font-weight: 600;

  @media only screen and (max-width: 800px) {
    font-size: 10vw;
  }
}

.introArticle {
  font-size: 3rem;
  text-align: center;
  margin-top: 4rem;
  line-height: 44px;

  @media only screen and (max-width: 800px) {
    font-size: 4rem;
    line-height: 39px;
  }
}

.linksContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 6rem;

  & > div:not(:last-child) {
    margin-right: 8rem;
  }
}

.link {
  display: flex;
  align-items: center;
}

.linkIcon {
  height: 2rem;
  margin-right: 1rem;
}

.linkText {
  font-size: 2rem;
  color: $color-pink;
  border-bottom: 1px solid $color-pink;
  cursor: pointer;
  background-color: transparent;

  @media only screen and (max-width: 800px) {
    font-size: 3rem;
  }
}

.triangle {
  position: absolute;
  // position: fixed;
  // position: sticky;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  height: 15vw;

  @media only screen and (max-width: 800px) {
    height: 25vw;
  }
}

.triangleContainer {
  margin-top: 35rem;

  // position: absolute;
  // @media only screen and (max-width: 1920px) {
  //   top: 2100px;
  // }

  // @media only screen and (max-width: 1200px) {
  //   top: 2000px;
  // }

  // @media only screen and (max-width: 1000px) {
  //   top: 1850px;
  // }

  // @media only screen and (max-width: 850px) {
  //   top: 1750px;
  // }

  // @media only screen and (max-width: 600px) {
  //   top: 1650px;
  // }

  // @media only screen and (max-width: 400px) {
  //   top: 1850px;
  // }
}

.diagonalLines {
  margin-top: 25rem;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  20% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-30px);
  }

  50% {
    transform: translateY(0);
  }

  60% {
    transform: translateY(-15px);
  }

  80% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(0);
  }
}

.homeIconContainer {
  background-color: rgba($color-blue-dark-2, 0.6);
  border-radius: 50%;

  padding: 2.5rem;

  position: fixed;
  top: 2rem;
  left: 2rem;
  cursor: pointer;
  z-index: 9999;
}

.homeIcon {
  height: 5rem;
}

.copyright {
  width: max-content;
  margin-bottom: 14rem;

  font-size: 3rem;
  opacity: 0.4;

  position: absolute;
  left: -8rem;
  bottom: 0;

  transform: rotate(90deg);
}

.socialMedia {
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;

  & > *:not(:last-child) {
    margin-bottom: 3rem;
  }

  position: absolute;
  bottom: 0;
  right: 3rem;
}

.socialMediaIcon {
  height: 5rem;
  width: 5rem;
  opacity: 0.6;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    opacity: 1;
  }
}
