@import '../../variables.scss';

.section {
  background-color: $color-blue;
  margin-top: 750px;

  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.titleContainer {
  background-color: rgba($color-blue-dark, 0.4);
  width: 30vw;
  height: 25vw;

  box-shadow: 0 1rem 2rem rgba($color-blue-dark, 0.8);

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  z-index: 9999;
}

.title {
  font-size: 5vw;
  font-weight: 500;
}

.cube {
  position: absolute;
  height: 18vw;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.skillsContainer {
  margin-top: 250px;

  display: flex;
  justify-content: space-between;
  width: 75vw;
}

.leftSkillsContainer {
  background-color: rgba($color-blue-dark, 0.4);
  box-shadow: 0 1rem 2rem rgba($color-blue-dark, 0.8);

  width: 28vw;
  padding: 6rem 4rem;
  padding-top: 4rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  transform: rotate(10deg);

  & > div:not(:last-child) {
    margin-bottom: 4rem;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($color-blue-dark, 0.4);
    box-shadow: 0 1rem 2rem rgba($color-blue-dark, 0.8);
    -webkit-filter: drop-shadow(5rem -4rem rgba($color-blue-dark, 1));
    -moz-filter: drop-shadow(5rem -4rem rgba($color-blue-dark, 1));
    -ms-filter: drop-shadow(5rem -4rem rgba($color-blue-dark, 1));
    -o-filter: drop-shadow(5rem -4rem rgba($color-blue-dark, 1));
    filter: drop-shadow(5rem -4rem rgba($color-blue-dark, 1));
  }
}

.rightSkillsContainer {
  background-color: rgba($color-blue-dark, 0.4);
  box-shadow: 0 1rem 2rem rgba($color-blue-dark, 0.8);

  width: 28vw;
  padding: 4rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  transform: rotate(-10deg);

  & > div:not(:last-child) {
    margin-bottom: 4rem;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($color-blue-dark, 0.4);
    box-shadow: 0 1rem 2rem rgba($color-blue-dark, 0.8);
    -webkit-filter: drop-shadow(-5rem -4rem rgba($color-blue-dark, 1));
    -moz-filter: drop-shadow(-5rem -4rem rgba($color-blue-dark, 1));
    -ms-filter: drop-shadow(-5rem -4rem rgba($color-blue-dark, 1));
    -o-filter: drop-shadow(-5rem -4rem rgba($color-blue-dark, 1));
    filter: drop-shadow(-5rem -4rem rgba($color-blue-dark, 1));
  }
}

.leftSkill {
  display: flex;
  align-items: center;
  width: 100%;

  & > *:first-child {
    margin-right: 4rem;
  }
}

.rightSkill {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;

  & > *:first-child {
    margin-right: 4rem;
  }
}

.skillIcon {
  height: 3vw;
  width: 3vw;
}

.skillText {
  font-size: 2.4vw;
  font-weight: 300;
}

.cubeContainer {
  position: absolute;
  top: 4450px;
}
