@import '../../variables.scss';

.section {
  background-color: $color-blue;
  margin-top: 20rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  // @media only screen and (max-width: 600px) {
  //   margin-top: 80rem;
  // }

  // @media only screen and (max-width: 1920px) {
  //   margin-top: 100rem;
  // }

  // @media only screen and (max-width: 1500px) {
  //   margin-top: 80rem;
  // }

  // @media only screen and (max-width: 1200px) {
  //   margin-top: 70rem;
  // }
}

.titleContainer {
  background-color: rgba($color-blue-dark, 0.4);
  width: 30vw;
  height: 25vw;

  box-shadow: 0 1rem 2rem rgba($color-blue-dark, 0.8);

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  z-index: 0;

  @media only screen and (max-width: 800px) {
    width: 50vw;
    height: 40vw;
  }
}

.title {
  font-size: 5vw;
  font-weight: 500;

  @media only screen and (max-width: 800px) {
    font-size: 10vw;
  }
}

.skillsContainer {
  display: flex;
  justify-content: space-between;
  width: 75vw;

  margin-top: 20rem;

  @media only screen and (max-width: 800px) {
    width: 90vw;
    flex-direction: column;
  }
}

.skills {
  background-color: rgba($color-blue-dark, 0.4);
  box-shadow: 0 1rem 2rem rgba($color-blue-dark, 0.8);

  width: 28vw;
  padding: 6rem 4rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;

  transform: rotate(10deg);

  @media only screen and (max-width: 1200px) {
    transform: rotate(0);
    align-items: flex-start;
  }

  @media only screen and (max-width: 900px) {
    width: auto;
  }

  @media only screen and (max-width: 800px) {
    width: 100%;

    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

    margin-top: 10rem;
    padding-top: 11rem;
  }

  & > div:not(:last-child) {
    margin-bottom: 4rem;

    @media only screen and (max-width: 800px) {
      margin-bottom: 6rem;
      margin-right: 4rem;
    }
  }

  & > div {
    @media only screen and (max-width: 800px) {
      margin-bottom: 6rem;
    }
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($color-blue-dark, 0.4);
    box-shadow: 0 1rem 2rem rgba($color-blue-dark, 0.8);
    -webkit-filter: drop-shadow(5rem -4rem rgba($color-blue-dark, 1));
    -moz-filter: drop-shadow(5rem -4rem rgba($color-blue-dark, 1));
    -ms-filter: drop-shadow(5rem -4rem rgba($color-blue-dark, 1));
    -o-filter: drop-shadow(5rem -4rem rgba($color-blue-dark, 1));
    filter: drop-shadow(5rem -4rem rgba($color-blue-dark, 1));

    @media only screen and (max-width: 800px) {
      -webkit-filter: drop-shadow(5rem -4rem rgba($color-blue-dark, 0));
      -moz-filter: drop-shadow(5rem -4rem rgba($color-blue-dark, 0));
      -ms-filter: drop-shadow(5rem -4rem rgba($color-blue-dark, 0));
      -o-filter: drop-shadow(5rem -4rem rgba($color-blue-dark, 0));
      filter: drop-shadow(5rem -4rem rgba($color-blue-dark, 0));
    }
  }
}

.rightSkills {
  transform: rotate(-10deg);

  @media only screen and (max-width: 1200px) {
    transform: rotate(0);
    justify-content: flex-start;
  }

  @media only screen and (max-width: 800px) {
    justify-content: center;
  }

  &::before {
    -webkit-filter: drop-shadow(-5rem -4rem rgba($color-blue-dark, 1));
    -moz-filter: drop-shadow(-5rem -4rem rgba($color-blue-dark, 1));
    -ms-filter: drop-shadow(-5rem -4rem rgba($color-blue-dark, 1));
    -o-filter: drop-shadow(-5rem -4rem rgba($color-blue-dark, 1));
    filter: drop-shadow(-5rem -4rem rgba($color-blue-dark, 1));

    @media only screen and (max-width: 800px) {
      -webkit-filter: drop-shadow(5rem -4rem rgba($color-blue-dark, 0));
      -moz-filter: drop-shadow(5rem -4rem rgba($color-blue-dark, 0));
      -ms-filter: drop-shadow(5rem -4rem rgba($color-blue-dark, 0));
      -o-filter: drop-shadow(5rem -4rem rgba($color-blue-dark, 0));
      filter: drop-shadow(5rem -4rem rgba($color-blue-dark, 0));
    }
  }
}

.skill {
  display: flex;
  align-items: center;
  width: 100%;
  z-index: 99;

  transform: rotate(-10deg);

  & > *:first-child {
    margin-right: 4rem;

    @media only screen and (max-width: 800px) {
      margin-right: 1.4rem;
    }
  }

  & > img {
    height: 3vw;
    width: 3vw;
  }

  & > p {
    font-size: 2.4vw;
    font-weight: 300;

    @media only screen and (max-width: 800px) {
      font-size: 4.4vw;
    }
  }

  @media only screen and (max-width: 1200px) {
    width: auto;
    transform: rotate(0);
  }
}

.rightSkill {
  transform: rotate(10deg);
  justify-content: flex-end;

  @media only screen and (max-width: 1200px) {
    transform: rotate(0);
    flex-direction: row-reverse;
  }

  & > img {
    margin-right: 4rem;
  }

  & > p {
    margin-right: 0;
  }
}

.cubeContainer {
  margin-top: 30rem;

  @media only screen and (max-width: 800px) {
    display: none !important;
  }

  // @media only screen and (min-width: 2100px) {
  //   top: 4900px;
  // }

  // @media only screen and (max-width: 1700px) {
  //   top: 4250px;
  // }

  // @media only screen and (max-width: 1500px) {
  //   top: 4050px;
  // }

  // @media only screen and (max-width: 1200px) {
  //   top: 3500px;
  // }

  // @media only screen and (max-width: 1000px) {
  //   top: 3150px;
  // }

  // @media only screen and (max-width: 850px) {
  //   top: 2900px;
  // }

  // @media only screen and (max-width: 600px) {
  //   top: 2600px;
  // }
}

.cube {
  position: absolute;
  height: 18vw;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media only screen and (max-width: 800px) {
    height: 30vw;
    display: none !important;
  }
}

.horizontalLines {
  margin-top: 20rem;
  display: none;

  @media only screen and (max-width: 800px) {
    display: inherit;
  }
}
