@import '../../variables.scss';

.container {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: space-between;
}

.sidebar {
  width: 8rem;
  height: 100vh;
  background-color: $color-blue-dark;
  z-index: 9999;

  position: fixed;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  & button,
  p {
    transform: rotate(90deg);
  }

  &Left {
    left: 0;
  }

  &Right {
    right: 0;
  }

  @media only screen and (max-width: 800px) {
    display: none;
  }
}

.content {
  margin-left: 8rem;
  width: calc(100% - 16rem);

  @media only screen and (max-width: 800px) {
    width: 100%;
    margin-left: 0;
  }
}

.icon {
  height: 3.5rem;
  width: 3.5rem;

  @media only screen and (max-width: 1000px) {
    height: 4rem;
    width: 4rem;
  }

  margin-top: 2rem;
  cursor: pointer;

  opacity: 0.8;
  transition: all 0.2s;

  &:hover {
    opacity: 1;
  }
}

.linksContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 8rem;

  & > button:first-of-type {
    margin-bottom: 12rem;

    @media only screen and (max-width: 1000px) {
      margin-bottom: 15rem;
    }
  }

  & > button {
    font-size: 2rem;
    border-bottom: 1px solid $color-pink;
    width: max-content;
    cursor: pointer;
    font-weight: 600;

    background-color: transparent;
    color: white;

    opacity: 0.8;
    transition: all 0.2s;

    &:hover {
      opacity: 1;
    }

    @media only screen and (max-width: 1000px) {
      font-size: 3rem;
    }
  }
}

.copyright {
  margin-bottom: 8rem;
  width: max-content;

  font-size: 1.6rem;
  font-weight: 400;
  opacity: 0.6;
}

.socialMedia {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;

  & > *:not(:last-child) {
    margin-bottom: 2rem;
  }
}

.socialMediaIcon {
  height: 3.5rem;
  width: 3.5rem;
  opacity: 0.6;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    opacity: 1;
  }
}

.contactMeText {
  font-size: 2rem;
  border-bottom: 1px solid $color-pink;
  width: max-content;
  cursor: pointer;
  font-weight: 600;
  background-color: transparent;
  color: white;

  opacity: 0.8;
  transition: all 0.2s;

  &:hover {
    opacity: 1;
  }

  @media only screen and (max-width: 1000px) {
    font-size: 3rem;
  }
}
